@font-face {
    font-family: 'UTM Talling';
    src: url('UTMTalling.woff2') format('woff2'),
        url('UTMTalling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Akashi';
    src: url('UTMAkashi.woff2') format('woff2'),
        url('UTMAkashi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

